h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.conFont {
  font-family: Consolas;
}

#bmkArea {
  width: 99%;
  height: 100px;
}

#alignName {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 20%;
}

#alignBmk {
  display: inline-block;
  width: 60%;
}

#alignTimeStamp {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 20%;
}

.wid-5 {
  display: inline-block;
  width: 5px;
}

.date-time {
  font-size: 12px;
}

.textBox {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px gray;
  outline: none;
  padding: 5px;
  margin: 2px;
  font-size: 13px;
  font-family: Consolas;
}

.btn-sub {
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  background-color: white;
  font-family: Consolas;
}

.bmkBlock_mouseOver {
  background-color: #ffffee;
}

.bmkBlock_mouseOut {
  background-color: blue;
}

.conFont {
  font-family: Consolas;
  font-size: 13px;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#bmkComp {
  padding-left: 20%;
  width: 60%;
}

#bmkCompMobile {
  padding-left: 2.5%;
  width: 95%;
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}
