<template>
  <div class="conFont" id="GuestBook">
    <!--
      <fieldset>
      <legend>
        <h1>{{ msg }}</h1>
      </legend>
    -->
    <h1>{{ msg }}</h1>
    <div>
      <div>
        <input
          class="textBox"
          type="text"
          id="name"
          v-model="form.name"
          placeholder="NAME"
        />
        <br v-if="innerWidth < 400" />
        <span class="wid-5" v-else-if="innerWidth >= 400"> </span>
        <input
          class="textBox"
          type="password"
          id="bmk"
          v-model="form.password"
          placeholder="PASSWORD"
        />
      </div>
      <div>
        <textarea
          class="textBox conFont"
          id="bmkArea"
          v-model="form.bmk"
          placeholder="CONTENTS"
        >
        </textarea>
      </div>
    </div>
    <div style="text-align:right">
      <input
        class="alignRight btn-sub"
        type="button"
        name="등록"
        value="submit"
        v-on:click="fn_submit_click(form.name, form.password, form.bmk);"
      />
    </div>
    <br />
    <div>
      <div v-for="data in dataList">
        <div
          v-bind:style="data.bmkBlockBgColor"
          @mouseover="fn_mouseOver(data, true);"
          @mouseout="fn_mouseOver(data, false);"
        >
          <span class="conFont" id="alignName">{{ data.name }}</span>
          <span class="conFont" id="alignBmk">{{ data.bmk }}</span>
          <span class="conFont date-time" id="alignTimeStamp">{{
            data.time
          }}</span>
        </div>
      </div>
    </div>
    <!-- </fieldset> -->
  </div>
</template>
<script>
export default {
  props: ["innerWidth", "dataList", "form"],
  name: "GuestBook",
  data() {
    return {
      msg: "Today's Guest Book"
    };
  },
  methods: {
    fn_submit_click: function(name, password, bmk) {
      this.$root.fnSubmit(name, password, bmk);
    },
    fn_mouseOver: function(data, isActive) {
      if (isActive) {
        data.bmkBlockBgColor = { backgroundColor: "#f3edff" };
      } else {
        data.bmkBlockBgColor = { backgroundColor: "white" };
      }
    }
  }
};
</script>
