<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2 class="conFont">Essential Links</h2>
    <ul>
      <li>
        <a class="conFont" href="https://junsday.tistory.com" target="_blank">
          My Tistory
        </a>
      </li>
      <li>
        <a
          class="conFont"
          href="https://codepen.io/jamess90/pen/MBOqWN"
          target="_blank"
        >
          Kakao Clone
        </a>
      </li>
      <li>
        <a
          class="conFont"
          href="https://kw6o583ojo.codesandbox.io/"
          target="_blank"
        >
          To Do List (Practice React)
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "HelloJunsWorld",
  data() {
    return {
      msg: "Welcome to Juns World!"
    };
  }
};
</script>
