<template>
  <div id="app">
    <div style=" margin-top:-40px; ">
      <img
        width="25%"
        src="https://secure.meetupstatic.com/photos/member/4/c/c/4/highres_267919652.jpeg"
      />
      <img width="5%" src="http://clipart-library.com/images/piqd4eoxT.jpg" />

      <HelloJunsWorld />
    </div>
    <div class="alignCenter"><hr /></div>
    <br />
    <div class="alignLeft" id="bmkComp" v-if="innerWidth > 800">
      <GuestBook :innerWidth="innerWidth" :dataList="dataList" :form="form" />
    </div>
    <div class="alignLeft" id="bmkCompMobile" v-else-if="innerWidth <= 800">
      <GuestBook :innerWidth="innerWidth" :dataList="dataList" :form="form" />
    </div>
    <br /><br /><br /><br />
    <div></div>
  </div>
</template>

<script>
import HelloJunsWorld from "./component/HelloJunsWorld";
import GuestBook from "./component/GuestBook";

export default {
  props: ["innerWidth", "dataList", "form"],
  name: "App",
  components: {
    HelloJunsWorld,
    GuestBook
  }
};
</script>
